# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Сферичный микросервис в вакууме _ Coursera.pdf
/.idea/vcs.xml
